/* 
COLORES:
Body:
background: #E5E5E5;
Boto Encriptar: 
Boton: #0A3871
Letras: #D8DFE8

Boton Desencriptar:

letras: #0A3871
boton: #D8DFE8

 */
 * {
    margin: 0;
    padding: 10px;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
 }
 body {
   position: relative;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-width: 250px;
}
.container {
   display: flex;
   height: 90%;
   width: 98%;
   flex-wrap: wrap;
   align-items: flex-end;
   gap: 1em;
}
.inputEscribir, .containerResultado {
   height: 95%;
   display: flex;
   flex-direction: column;
}
.inputEscribir {
   flex: 5;
}
.containerResultado {
   flex: 1.7;
   background-color: #fff;
   border-radius: 28px;
   display: flex;
   align-items: center;
   position: relative;
   width: 100%;
   box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.5);
}
footer {
   width: 98%;
   height: 9%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   color: #0A3871;
}
.textoEncriptar {
   flex: 5;
   display: flex;
   justify-content: start;
   align-items: center;
}
#textoEncriptar {
   resize: none;
   width: 90%;
   height: 40px;
   font-size: 200%;
   color: #0a3871;
   font-weight: 400;
   line-height: 150%;
   background-color: #E5E5E5;
   border: none;
}
#textoEncriptar:focus {
   outline: none;
}
/* .imgadvertencia {
   width: 16px;
   height: 16px;
}
.advertencia {
   display: flex;
   align-items: center;
   gap: 0.4rem;
} */
.logo {
   padding-left: 15px;
   flex: 1;
   height: 95%;
}
 .icon {
   color: black;
   font-size: 18px;
 }